@media (max-width: 1500px){
    .perfil-container{
        height: 200px;
    }
    .perfil-image{
        height: 184px;    
    }
}
@media (max-width: 450px){
    .perfil-container{
        width: 300px;
    }
    .card-content h1{
        font-size: 24px;
        margin-top: -8px;
    }
    .Info-card{
        width: 300px;
        height: 200px;
    }
    .card-animation{
        width: 100px;
        height: 140px;
    }
    .ball-animation .ball{
        height: 40px;
    }
    .ball-animation .small-bar{
        height: 4px;
    }
    .perfil-image{
        width: 300px;
    }
    .social-card{
        margin-top: 30px;
    }
    .social-card p{
        font-size: 8px;
        margin-bottom: 10px;
        letter-spacing: 4px;
    }
    .social-card ul{
        width: 300px;
    }
    .social-card ul li a{
        font-size: 24px;
    }
}
@media (max-width: 290px){
    .perfil-container{
        width: 280px;
    }
    .Info-card{
        width: 280px;
    }
    .card-animation{
        height: 120px;
    }
    .ball-animation .ball{
        height: 40px;
    }
    .perfil-image{
        width: 280px;
    }
    .social-card ul{
        width: 270px;
    }
}

